*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  display:grid;
  width: calc(100% - 50px);
  margin: 0 auto;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}

.container > div h1{
  color:#fff;
}

.container .Winnie h1{
  background-color:#8E6E95;
}

.container .Bob h1{
  background-color:#39A59C;
}

.container .Thomas h1{
  background-color:#344759;
}

.container .George h1{
  background-color:#E8741E;
}
